html,
body{
	height: 100%;
	width : 100%;
}
body{
	background: #fff;
}
.no-padding{
	margin : 0px !important;
	padding: 0px !important;
}
.sections{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.profile-section .profile-box .name{
	margin-top: 30px;
	vertical-align: middle;
}
.profile-section .profile-box .follower{
	margin-top: 30px;
}
.profile-section .profile-box .img img{
	height: 80px;
	width : 100px;
}
.proflie-section .profile-box .name p{
	vertical-align: middle;
}
.profile-section .profile-box{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.img-thumbnail{
	border-radius: 0px !important;
}
.profile-section .name p{
	font-size: 18px;
	font-weight: 700;
}
.profile-section .profile-box .follower .num{
	font-size: 18px;
	font-weight: 600;
}
.profile-section .profile-box .follower .title{
	font-weight: 500;
	font-size: 14px;
	color: #ddd;
}